body {
    position: relative;
    /*background: radial-gradient(#10113C, #000000);*/
    background-color: #10113b;
    overflow-x: hidden;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    display: none;
}
body, h2, h3, h4, p, li {
    color: #ffffff;

}
section{
    user-select: none;
}
header {

    position: sticky;
    z-index: 3;
    top: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fade-in 2s ease-out;
    opacity: 1;
    transition: opacity 0.3s ease-out;

}
#header.transparent{
    opacity: 0.3;
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
header>h2 {
    position: sticky;
    font-size: 2rem;
    margin: 0;
}

header>nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header>nav>li {
    margin: 0 10px;
}

header>nav>ul>li>a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header nav a:hover {
    text-decoration: underline;
}

input[type="button"] {
    background-color: #08091e;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    animation: fade-in 1s ease-out;
}
input[type="button"]:hover {
    background-color: #000372;
    color: white;
}


.nav-button {
    background-color: #08091e;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    animation: slide-in 1s ease-out;
    margin-right: 5px;
}

.nav-button:hover {
    background-color: black;
    color: #10113C;
    transition: background-color 0.5s ease-in-out;
}

.nav-button:active {
    transform: translateY(2px);
}

@keyframes slide-in {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
.nav-button {
    background-color: #08091e;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.nav-button:hover {
    background-color: #000372;
    color: #ffffff;
    transition: background-color 0.5s ease-in-out;
}

.nav-button:active {
    transform: translateY(15px);
}
.triangle-left {
    width: 500px;
    height: 500px;
    border-top: 25px solid transparent;
    border-right: 50px solid #555;
    border-bottom: 25px solid transparent;
    background: radial-gradient(#0066FF, #AD00FF);
}
section {
    padding-left: 20px;
    margin-bottom: 30px;
}
#intro{
    height: 90vh;
    position: relative;
}
#intro>div:nth-child(1){
    position: absolute;
    height: 31vh;
    width: 40vw;
    top: 20%;
}
#intro>div>h1{
    position: absolute;
    font-size: 4rem;
    font-family: 'Abril Fatface', cursive;
}
#intro>div{
    transition: 0.5s;
    position: relative;
    left: 20%;

}
#intro>div>h2:nth-child(1){
    position: absolute;
    top: 4%;
    font-size: 3rem;
    font-weight: 900;
}
#intro>div>h3:nth-child(2){
    position: absolute;
    left: 1%;
    top: 30%;
    font-size: 1rem;

 }
#intro>div>h1:nth-child(3){
    position: absolute;
    bottom: 19%;
    font-size: 4rem;
}
#intro>div>h1:nth-child(4){
    left: 13%;
    bottom: 2%;
    position: absolute;
    font-size: 4rem;
}
div.underline{
    border: solid white;
    width: 0;
    position: relative;
    top: 50%;
    left: 19%;
    border-radius: 10vw;
    animation: expand 2.3s forwards;
}
@keyframes expand {
    from{
        width: 0;
    }to{
        width: 60vw;
         }
}
#intro>div:nth-child(3){
    position: relative;
    width: 60.5vw;
    height: 40vh;
    top: 50%;
    left: 19%;
}
#intro>div:nth-child(3){
    display: flex;
}
#intro>div:nth-child(3)>div:nth-child(1){
    padding-left: 0;
    padding-right: 1vw;
    position: relative;
    width: 20vw;
    height: 15.2vh;
}
#intro>div:nth-child(3)>div:nth-child(2){
    padding-right: 1vw;
    position: relative;
    width: 20vw;
    height: 18.8vh;
}
#intro>div:nth-child(3)>div:nth-child(3){
    position: relative;
    width: 20vw;
    height: 15.2vh;
}
#introabout>div:nth-child(1)>h1{
    text-align: center;
    font-size: 1.5vw;
}
#introabout>div:nth-child(1)>p{
    text-align: center;

}
#introabout>div:nth-child(2)>h1{
    text-align: center;
    font-size: 1.5vw;
}
#introabout>div:nth-child(2)>p{
    text-align: center;
}
#introabout>div:nth-child(3)>h1{
    text-align: center;
    font-size: 1.5vw;
}
#introabout>div:nth-child(3)>p{
    text-align: center;
}
#introabout>div{
    opacity: 20%;
    transition: 0.5s;
}
#introabout>div:hover{
    opacity: 100%;
    cursor: pointer;
}
#about{
    height: 100vh;
}
.section-intro {
    position: relative;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
    width: 43vw;
    height: 35vh;
}
.section-intro>h5:nth-child(1){
    text-align: center;
}
.section-intro>h1:nth-child(2){
    text-align: center;
}
.section-intro>p{
    opacity: 40%;
    transition: 0.5s;
    position: absolute;
    width: 33vw;
    right: 0;
}
.section-intro>p:hover{
    cursor: pointer;
    opacity: 100%;
}
.profileTab{
    position: absolute;
    width: 28vw;
    height: 60vh;
    left: 20%;
}
.skillTab{
    position: absolute;
    width: 28vw;
    height: 60vh;
    right: 20%;
}












#skill{
    user-select: none;
    height: 100vh;
    position: relative;

}
#skill>section:nth-child(1){
    height: 65vh;
}
#skill>h2{
    height: 3vh;
}
#skill>section>h3{
    position: relative;
    width: 8vw;
    height: 3vh;
    left: 16%;
}
#projects{
    height: 100vh;
    user-select: none;
    position: relative;
}
#eventmanagement{
    position: relative;
}
#pharmacymanagement{
    position: absolute;
    height: 650px;
    width: 700px;
    right: 0;
    top: 20px;
    padding-top: 42px;
}
section>ul>a{
    padding-right: 420px;
}

#specialization{
    border: solid white;
    width: 70vw;
    height: 47vh;
    background-color: #06074a;
    left: 15%;
    right: 0;
    position: relative;
    border-radius: 3vw;
}
#specialization>div{
    top: 20%;
    width: 20vw;
    height: 30vh;
    display: flex;
}
#specialization>div>h4{
    top: 35%;
    position: absolute;
}
#web{
    left: 27%;
}
#database{
    left: 22%;
}
#specialization>div>img{
    right: 45%;
    position: absolute;
}
#specialization>div:nth-child(2)>img{
    right: 43%;
    position: absolute;
}
#specialization>div>p{
    position: absolute;
    top: 55%;
    left: 7%;
}
#specialization>div:nth-child(1){
position: absolute;
    left: 4%;
}
#specialization>div:nth-child(2){
    position: absolute;
    left: 35%;
}
#specialization>div:nth-child(3){
    position: absolute;
    right: 4%;
}
#shadowspec{
    width: 70vw;
    height: 46vh;
    background-color: #08091e;
    left: 19%;
    right: 0;
    top: 22%;
    position: absolute;
    border-radius: 3vw;

}




#languagessection{
    position: relative;
    height: 20vh;
}
#languages{
    border: solid white;
    position: absolute;
    width: 50vw;
    border-radius: 3vw;
    height: 15vh;
    background-color: #07082c;
}
#languagessection>div>img{
    top: 15%;
}
#languagessection>div>img:nth-child(1){
    width: 6vw;
    height: 10vh;
    position: absolute;
    left: 4%;
}
#languagessection>div>img:nth-child(2){
    width: 6vw;
    height: 10vh;
    position: absolute;
    left: 19%;
}
#languagessection>div>img:nth-child(3){
    width: 6vw;
    height: 10vh;
    position: absolute;
    left: 34%;
}
#languagessection>div>img:nth-child(4){
    width: 10vw;
    height: 9vh;
    position: absolute;
    right: 34%;
    top: 19%;
}
#languagessection>div>img:nth-child(5){
    width: 7vw;
    height: 10vh;
    position: absolute;
    right: 23%;
}
#languagessection>div>img:nth-child(6){
    width: 10vw;
    height: 10vh;
    position: absolute;
    right: 4%;
 }
#shadowlang{
    position: absolute;
    width: 50vw;
    border-radius: 3vw;
    height: 16vh;
    top: 14%;
    left: 2%;
    background-color: #08091e;
}


#projects{
    position: relative;
}
#contact{
    height: 100vh;
    position: relative;
}






/*#footer{
    position: static;
    height: 500px;
    width: 500px;
    background-color: blue;
    border: 8px solid black;
}
#footer2{
    position: relative;

    left: 500px;
    height: 500px;
    width: 500px;
    background-color: blue;
    border: 8px solid black;
}*/



/*body {

    !* background-color: #3D2A58; *!
    background: radial-gradient(#9b0000, #000000);
}


body, h2, h3, h4, p, li {
    color: #ffffff;
}


header {
    position: sticky;
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fade-in 2s ease-out;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

header h2 {
    font-size: 2rem;
    margin: 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin: 0 10px;
}

header nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header nav a:hover {
    text-decoration: underline;
}

!* Style the sections *!
section {
    padding: 20px;
    margin-bottom: 30px;

}

section h2 {
    font-size: 2rem;
    margin-top: 0;
}

section h3 {
    font-size: 1.5rem;
    margin-top: 0;
}

section h4 {
    font-size: 1.2rem;
    margin-top: 0;
}

section ul {
    list-style-type: disc;
    margin: 0 0 0 40px;
}

section p {
    font-size: 1.2rem;
    line-height: 1.5;
}


section img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

input[type="button"] {
    background-color: #10113C;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    animation: fade-in 1s ease-out;
}

input[type="button"]:hover {
    background-color: #000372;
    color: white;
}


.nav-button {
    background-color: #10113C;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    animation: slide-in 1s ease-out;
}

.nav-button:hover {
    background-color: black;
    color: #10113C;
    transition: background-color 0.5s ease-in-out;
}

.nav-button:active {
    transform: translateY(2px);
}

@keyframes slide-in {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.nav-button {
    background-color: #10113C;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.nav-button:hover {
    background-color: #000372;
    color: #ffffff;
    transition: background-color 0.5s ease-in-out;
}

.nav-button:active {
    transform: translateY(2px);
}
.triangle-left {
    width: 500px;
    height: 500px;
    border-top: 25px solid transparent;
    border-right: 50px solid #555;
    border-bottom: 25px solid transparent;
    background: radial-gradient(#0066FF, #AD00FF);
}*/


/*
p#aboutme{
    text-align: right;
    alignment-baseline: ;
}*/
/*
img#aboutimg{
    position: absolute;

    width: 192px;
    height: 108px;
    float: left;
}*/