@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
    position: relative;
    /*background: radial-gradient(#10113C, #000000);*/
    /*background-color: #222831;*/
    background-color: #090909;
    overflow-x: hidden;
    overflow-y: scroll;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 1.5vw;
}
h2{
   font-size: 1.2vw;
}
body::-webkit-scrollbar{
    display: none;
}
body, h2, h3, h4, p, li {
    color: #eeeeee;
}
section{
    user-select: none;
}
/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgb(0, 0, 0, 0.2);
    z-index: 999;
    padding: 1.2vw;
    animation: slide-down 3s;
}
@keyframes slide-down {
    from{
        top: -10vh;

    }
    to {
        top: 0;
    }
}
#header:hover{
    transition: 0.3s;
    padding: 2vw;
}
#header:not(:hover){
    padding: 1.2vw;
    transition: 0.3s;
}
.quickSocial{
    position: absolute;
}
.quickSocial>a>i{
    font-size: 1vw;
    color: white;
    padding-right: 0.5vw;
}
.quickSocial>a>i:hover{
    font-size: 1.5vw;
    transition: 0.3s;
}
.quickSocial>a>i:not(:hover){
    transition: 0.3s;
}
.quickSocial>a:nth-child(1)>i:hover{
    transition: 0.3s;
    color: #7289da;
}
.quickSocial>a:nth-child(2)>i:hover{
    transition: 0.3s;
    color: #181717;
}
.quickSocial>a:nth-child(3)>i:hover{
    transition: 0.3s;
    color: #0088cc;
}


.nav-button {
    background: transparent;
    color: #fff;
    border: 0.3vw solid #fff;
    border-radius: 0.5vw;
    padding: 0.5vw 1vw;
    margin-right: 4vw;
    font-size: 1vw;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.nav-button:hover {
    background: #fff;
    color: #000000;
    border: 0.3vw solid transparent;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.5);
}
.headerbutton {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.headerbutton>li:active{
    scale: 0.9;
}
.nav-button:active{
    color: #000000;
    background: #ffffff;
    border: solid transparent;
}
.nav-button:after{
    background-color: #ffffff;
    color: #000000;
    border: solid transparent;
}


.headerbutton>li>a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.headerbutton>li>a:hover {
    color: #917FB3;
}
.headerbutton>li{
    width: 5.6vw;
    padding-right: 3vw;
}
.headerbutton>li:nth-child(4){
    padding-right: 6vw;
}
.project-overlay>i{
    font-size: 1vw;
    animation: pulse2 1s ease-in-out infinite;
}
@keyframes pulse2 {
    0%{
        scale: 0.9;
    }
    50%{
        scale: 1;
    }
    100%,0%{
        scale: 1.3;
    }
}







/*header {

    position: fixed;
    z-index: 600;
    top: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fade-in 2s ease-out;
    opacity: 1;
    transition: opacity 0.3s ease-out;

}
#header.transparent{
    opacity: 0.3;
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
header>h2 {
    position: sticky;
    font-size: 2rem;
    margin: 0;
}

header>nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header>nav>li {
    margin: 0 10px;
}

header>nav>ul>li>a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header nav a:hover {
    text-decoration: underline;
}*/

/*input[type="button"] {
    background-color: #00ADB5;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    animation: fade-in 1s ease-out;
}
input[type="button"]:hover {
    background-color: #393E46;
    color: white;
}*/


/*.nav-button {
    background-color: #00ADB5;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    animation: slide-in 1s ease-out;
    margin-right: 5px;
}*/

/*.nav-button:hover {
    background-color: black;
    color: #393E46;
    transition: background-color 0.5s ease-in-out;
}*/

/*.nav-button:active {
    transform: translateY(2px);
}

@keyframes slide-in {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}*/
/*.nav-button {
    background-color: #00ADB5;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}*/

/*.nav-button:hover {
    background-color: #393E46;
    color: #ffffff;
    transition: background-color 0.5s ease-in-out;
}*/

/*.nav-button:active {
    transform: translateY(15px);
}*/
/*.triangle-left {
    width: 500px;
    height: 500px;
    border-top: 25px solid transparent;
    border-right: 50px solid #555;
    border-bottom: 25px solid transparent;
    background: radial-gradient(#0066FF, #AD00FF);
}*/

section {
    margin-bottom: 3vh;
}
.photo{
    object-fit: cover;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}
#intro {
    position: relative;
    height: 100vh;
    background-color: rgb(54, 54, 54);
    transition: transform 0.5s ease-in-out;
}

/*#intro::before {
    content: "";
    background-image: url(../image/intro.jpg) ;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/
#intro>div>div {
    z-index: 10;
}


/*
.introphoto{
    background: #151515 url(../image/intro.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 720px;
    display: table;
    position: absolute;
    text-align: center;
    opacity: 0.3;
    z-index: 1001;
}
*/




#intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../image/intro.jpg) no-repeat center center fixed;
    background-size: cover;
}

#intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.75;
    background-color: black;
}
#intro>div:nth-child(1){
    position: relative;
    height: 21vh;
    width: 40vw;
    margin-bottom: 4vh;
    top: 20%;
    animation: slide-reverse 2.3s;
}
@keyframes slide-reverse {
    from{
        top: 100%;
    }
        to{
            top: 20%;
        }
}

#intro>div>h1{
    position: absolute;
    font-size: 4rem;
    font-family: 'Abril Fatface', cursive;
}
#intro>div{
    transition: 0.5s;
    position: relative;
    left: 20%;

}
#intro>div>span:nth-child(1){
    height: 5vh;
    position: relative;
}
#intro>div>span:nth-child(1)>h2{
    margin: 0;
    font-size: 3vw;
    font-weight: 900;
}
#intro>div>span:nth-child(2){
    height: 3vh;
    position: relative;
}
#intro>div>span:nth-child(2)>h3{
    margin: 0;
    font-size: 1vw;
}
#intro>div>span:nth-child(3){
    height: 6vh;
    position: relative;
    margin: 1px;

}
#intro>div>span:nth-child(3)>h1{
    margin: 0;
    font-size: 4vw;
    font-family: 'Abril Fatface', cursive;
}
#intro>div>span:nth-child(4){
    left: 13%;
    top: -8%;
    height: 22vh;
    width: 4vw;
    position: relative;
}
#intro>div>span:nth-child(4)>h1{
    position: relative;
    height: 8vh;
    margin: 0;
    margin-bottom: 1px;
    font-size: 4vw;
    font-family: 'Abril Fatface', cursive;
}
div.underline{
    border: solid white 0.3vh;
    position: relative;
    top: 21vh;
    margin: 1px;
    left: 19vw;
    border-radius: 1vh;
    animation: expand 2.3s forwards;
}
@keyframes expand {
    from{
        width: 0;
    }to{
        width: 60vw;
         }
}
#intro>div:nth-child(3){
    position: relative;
    width: 60.5vw;
    height: 40vh;
    top: 20%;
    left: 19%;
    animation: slidein 2.3s forwards;
}
@keyframes slidein {
    from{
        left: -100%;
    }
    to{
        left: 19%;
    }
}

#intro>div:nth-child(3){
    display: flex;
}
#intro>div:nth-child(3)>div:nth-child(1){
    padding-left: 0;
    padding-right: 1vw;
    position: relative;
    width: 20vw;
    height: 15.2vh;
}
#intro>div:nth-child(3)>div:nth-child(2){
    padding-right: 1vw;
    position: relative;
    width: 20vw;
    height: 18.8vh;
}
#intro>div:nth-child(3)>div:nth-child(3){
    position: relative;
    width: 20vw;
    height: 15.2vh;
}

#introabout>div:nth-child(1)>h1{
    text-align: center;
    font-size: 1.5vw;
    font-family: sans-serif;
}
#introabout>div>p{
    text-align: center;
    font-size: 0.9vw;
}
#introabout>div:nth-child(2)>h1{
    text-align: center;
    font-size: 1.5vw;
}

#introabout>div:nth-child(3)>h1{
    text-align: center;
    font-size: 1.5vw;
}

#introabout>div{
    opacity: 50%;
    transition: 0.5s;
}
#introabout>div:hover{
    opacity: 100%;
    cursor: pointer;
}
.hiremebutton{
    position: absolute;
    right: 20vw;
    top: 38vh;
    animation: slideleft 2s;

}
@keyframes slideleft {
    from{
        right: -10vw;
    }
    to{
        right: 20vw;
    }
}
.hire-me-button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0.9vw 1.8vw;
    background-color: transparent;
    border: 0.15vw solid #fff;
    color: #fff;
    font-size: 1vw;
    letter-spacing: 0.25vw;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1;
}

.hire-me-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: -1;
}

.hire-me-button:hover {
    color: #000;
    background-color: #fff;
}

.hire-me-button:hover::before {
    left: 0;
}



.intro-button-container {
    display: flex;
    margin-top: 10vh;
    margin-left: 24vw;
}

.intro-button {
    display: inline-block;
    padding: 1vw 4vh;
    padding-right: 1.4vw;
    padding-left: 1.4vw;
    border: solid #707070;
    color: white;
    text-decoration: none;
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 700;
    transition: all 0.3s ease;

}
.intro-button:hover {
    scale: 1.1;
    border: solid #000000;
}

.intro-button:active {
    transform: translateY(2px);
    box-shadow: none;
}
.intro-button>i{
    text-align: right;
    padding-left: 1vw;
}



.social-media>li>a {
    padding-right: 1vw;
    padding-left: 1vw;
    display: inline-block;
    position: relative;
    margin: 2.5vw;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.social-media>li>a:hover {
    transform: scale(1.1);
}

.social-media>li>a>i {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    animation: pulse 1s ease-in-out infinite;
}
.social-media>li{
    list-style-type: none;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.twitter:hover{
    color: #1da1f2;
    transition: 0.3s;
}
.instagram:hover{
    color: #E1306C;
    transition: 0.3s;
}
.linkedin:hover{
    color: #0077B5;
    transition: 0.3s;
}
.facebook:hover{
    color: #1877f2;
    transition: 0.3s;
}

.social{
    height: 9vh;
    position: relative;
    bottom: -10%;
}
.social-media{
    padding-left: 0;
    position: relative;
    bottom: 0vh;
}
.social-media>li{
    position: relative;
    height: 9vh;
    padding: 0;
    text-align: center;
}













#about{
    height: 100vh;
    z-index: 100;
    position: relative;
}
.section-intro {
    position: relative;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
    width: 43vw;
    height: 35vh;
}
.section-intro>h5:nth-child(1){
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4vw;
    font-size: 1.2vw;
    font-weight: 900;

}
.section-intro>h1:nth-child(2){
    text-align: center;
    font-size: 1.5vw;
}
.section-intro>p{
    opacity: 40%;
    font-size: 0.9vw;
    transition: 0.5s;
    position: absolute;
    width: 33vw;
    right: 0;
}
.section-intro>p:hover{
    cursor: pointer;
    opacity: 100%;
}
.profile\&skill{
    height: 61vh;
}
.profileTab{
    position: absolute;
    margin: 0;
    width: 28vw;
    height: 60vh;
    left: 20%;
}
.profileTab>h2:nth-child(1){
    font-size: 1.2vw;
}
.myskill{
    position: absolute;
    margin: 0;
    width: 28vw;
    height: 60vh;
    right: 20%;
}
.myskill>h2:nth-child(1){
    font-size: 1.2vw;
}
.profileTab>h2:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5%;
}
.profileTab>p{
    font-size: 0.9vw;
    opacity: 75%;
}
.profileTab>h2:not(:first-of-type){
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    margin-bottom: 1%;
}
.profileTab>p:not(:first-of-type){
    margin-top: 1%;
    margin-bottom: 5%;
    transition: 0.5s;
}
.profileTab>p:not(:first-of-type):hover{
    opacity: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.profileTab>p:nth-child(4){
    width: 8.5vw;
}
.profileTab>p:nth-child(6){
    width: 6.5vw;
}
.profileTab>p:nth-child(8){
    width: 4vw;
}
.profileTab>p:nth-child(10){
    width: 7.5vw;
}
.profileTab>p:nth-child(12){
    width: 14.5vw;
}

.myskill>h2{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5%;
}
.myskill>p{
    opacity: 75%;
}



.skill-bars {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skill-bars li {
    margin-bottom: 6.3%;
    padding: 0;
    position: relative;
}

.skill-bars li strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    display: block;
    margin-bottom: 5px;
}

.skill-bars li .progress {
    margin-bottom: 1%;
    height: 2%;
    width: 100%;
    border-radius: 100vw;
    background: #f2f2f2;
    margin-top: 5px;
    position: relative;
}

.skill-bars li .progress span {
    display: block;
    height: 100%;
    border-radius: 100vw;
    font-size: 0.6vw;
    left: -1%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.skill-bars li .progress.percent80 span {
    width: 80%;
    background: #171717;
}

.skill-bars li .progress.percent90 span {
    width: 90%;
    background: #171717;
}

.skill-bars li .progress.percent85 span {
    width: 85%;
    background: #171717;
}

.skill-bars li .progress.percent83 span {
    width: 83%;
    background: #171717;
}

.skill-bars li .progress.percent75 span {
    width: 75%;
    background: #171717;
}

.skill-bars li .progress span:after {
    content: attr(data-content);
    position: absolute;
    right: 0;
    top: -25px;
    font-size: 1vw;
    font-weight: bold;
    color: #171717;
}

.resume-button {
    left: 50%;
    bottom: 8vh;
    transform: translateX(-50%);
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0.9vw 1.8vw;
    background-color: #0c0c0c;
    border: 0.15vw solid #fff;
    color: #fff;
    border-radius: 2vw;
    font-size: 1vw;
    letter-spacing: 0.25vw;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1;
    text-decoration: none;
}

.resume-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: -1;
}

.resume-button:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.7);
}

.resume-button:hover::before {
    left: 0;
}
.resume-button:active{
    scale: 0.98;
}



#services{
    user-select: none;
    height: 100vh;
    position: relative;

}
.col-twelve{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    height: 22vh;
    width: 35vw;
    transition: 0.5s;
}
.col-twelve>h5:nth-child(1){
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4rem;
    font-size: 1.2vw;
    font-weight: 900;
    margin: auto;
}
.col-twelve>h1:nth-child(2){
    margin-top: 2%;
    font-size: 1.5vw;
    text-align: center;
}
.col-twelve>p{
    opacity: 50%;
    transition: 0.5s;
    text-align: center;
}
.col-twelve>p:hover{
    opacity: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.service{
    height: 40vh;
    width: 60vw;
    position: relative;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.service>div {
    text-align: center;
    width: 20vw;
    height: 31vh;
    position: relative;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.5);
    border-radius: 2vw;
    margin: 1vw;
    transition: 1s;
}
.service>div:hover{
    scale: 1.1;
}
.service>div>i{
    top: 2vh;
}
.service>div>p{
    top: 2vh;
}
.service>div>i{
    position: relative;
    font-size: 6vw;
}
.service>div>h3{
    text-align: center;
    font-size: 1vw;
    padding-top: 1vh;
}
.service>div>p{
    text-align: center;
    opacity: 50%;
    transition: 0.5s;
}
.service>div>p:hover{
    opacity: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.hire-me {
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0.9vw 1.8vw;
    background-color: transparent;
    border: 0.15vw solid #fff;
    color: #fff;
    font-size: 1vw;
    letter-spacing: 0.25vw;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.5);
}

.hire-me::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: -1;
    animation: pulse3 2s ease-in-out infinite;
}
@keyframes pulse3 {
    0%{
        scale: 0.9;
    }
    50%{
        scale: 1.35;
    }
    100%,0%{
        scale: 1;
    }
}

.hire-me:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.8);
}
.hire-me:active{
    scale: 0.98;
}
.hire-me:hover::before {
    left: 0;
}


.languages{
    position: absolute;
    height: 20vh;
    bottom: 5%;
    width: 101%;
    left: -1%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.languadeborder{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 70vw;
    height: 10vh;
}
.languadeborder>i{
    font-size: 6vw;
    padding-left: 5vw;
    padding-right: 5vw;
    animation: 0.6s;
}
.languadeborder>i:nth-child(1):hover{
    transition: 0.5s;
    color: #5382A1;
}
.languadeborder>i:nth-child(2):hover{
    transition: 0.5s;
    color: #F0DB4F;
}
.languadeborder>i:nth-child(3):hover{
    transition: 0.5s;
    color: #E34F26;
}
.languadeborder>i:nth-child(4):hover{
     transition: 0.5s;
     color: #1572B6;
 }
.languadeborder>i:not(:hover){
    transition: 0.5s;
}
.languadeborder>i:nth-child(1){
    padding-left: 10vw;
}
.languadeborder>i:not(:first-of-type){
    border-left: 2px solid rgba(255, 255, 255, 0.6);
}
.languadeborder>i:nth-child(4){
    padding-right: 0;
}







/*
#skill>h2{
     text-align: center;
     font-family: 'Poppins', sans-serif;
     letter-spacing: 0.4rem;
     font-size: 1.2rem;
     font-weight: 900;
 }
#skill>section>h3{
    margin-top: 4.5%;
    text-align: center;
}
*/
/*#skill>section:nth-child(1){
    height: 65vh;
}
#projects{
    height: 100vh;
    user-select: none;
    position: relative;
}
#eventmanagement{
    position: relative;
}
#pharmacymanagement{
    position: absolute;
    height: 650px;
    width: 700px;
    right: 0;
    top: 20px;
    padding-top: 42px;
}
section>ul>a{
    padding-right: 420px;
}

#specialization{
    border: solid white;
    width: 70vw;
    height: 47vh;
    background-color: #06074a;
    left: 15%;
    right: 0;
    position: relative;
    border-radius: 3vw;
}
#specialization>div{
    top: 20%;
    width: 20vw;
    height: 30vh;
    display: flex;
}
#specialization>div>h4{
    top: 35%;
    position: absolute;
}
#web{
    left: 27%;
}
#database{
    left: 22%;
}
#specialization>div>img{
    right: 45%;
    position: absolute;
}
#specialization>div:nth-child(2)>img{
    right: 43%;
    position: absolute;
}
#specialization>div>p{
    position: absolute;
    top: 55%;
    left: 7%;
}
#specialization>div:nth-child(1){
position: absolute;
    left: 4%;
}
#specialization>div:nth-child(2){
    position: absolute;
    left: 35%;
}
#specialization>div:nth-child(3){
    position: absolute;
    right: 4%;
}
#shadowspec{
    width: 70vw;
    height: 46vh;
    background-color: #08091e;
    left: 19%;
    right: 0;
    top: 22%;
    position: absolute;
    border-radius: 3vw;

}




#languagessection{
    position: relative;
    height: 20vh;
}
#languages{
    border: solid white;
    position: absolute;
    width: 50vw;
    border-radius: 3vw;
    height: 15vh;
    background-color: #07082c;
}
#languagessection>div>img{
    top: 15%;
}
#languagessection>div>img:nth-child(1){
    width: 6vw;
    height: 10vh;
    position: absolute;
    left: 4%;
}
#languagessection>div>img:nth-child(2){
    width: 6vw;
    height: 10vh;
    position: absolute;
    left: 19%;
}
#languagessection>div>img:nth-child(3){
    width: 6vw;
    height: 10vh;
    position: absolute;
    left: 34%;
}
#languagessection>div>img:nth-child(4){
    width: 10vw;
    height: 9vh;
    position: absolute;
    right: 34%;
    top: 19%;
}
#languagessection>div>img:nth-child(5){
    width: 7vw;
    height: 10vh;
    position: absolute;
    right: 23%;
}
#languagessection>div>img:nth-child(6){
    width: 10vw;
    height: 10vh;
    position: absolute;
    right: 4%;
 }
#shadowlang{
    position: absolute;
    width: 50vw;
    border-radius: 3vw;
    height: 16vh;
    top: 14%;
    left: 2%;
    background-color: #08091e;
}*/


#projects{
    position: relative;
}
.project-about{
    position: relative;
    height: 22vh;
    width: 35vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.project-about>h5:nth-child(1){
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4vw;
    font-size: 1.2vw;
    font-weight: 900;
    margin: auto;
}
.project-about>h1:nth-child(2){
    font-size: 1.5vw;
    margin-top: 2.5vh;
}
.project-about>p{
    font-size: 0.9vw;
    opacity: 40%;
    transition: 0.3s;
    cursor: pointer;
}
.project-about>p:hover{
    transition: 0.3s;
    opacity: 100%;
}


#projects {
    height: 100vh;
    z-index: 50;
    padding: 2vh 0;
    text-align: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3vh;
}

.project {
    width: 28vw;
    height: 30vh;
    margin: 4vh 5vw;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.project:hover {
    transform: translateY(-4vh);
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.7);
}

.project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1vw;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

.project:hover .project-overlay {
    transform: translateY(0);

}
.project-container>div:nth-child(1){
    background-image: url("../image/D24Hostal.png");
    background-size: cover;
    background-position: center;
    border-radius: 3vh;
}
.project-container>div:nth-child(2){
    background-image: url("../image/eventmanagement.png");
    background-size: cover;
    background-position: center;
    border-radius: 3vh;
}
.project-container>div:nth-child(3){
    background-image: url("../image/pharmacy.webp");
    background-size: cover;
    background-position: center;
    border-radius: 3vh;
}
.project-container>div:nth-child(4){
    background-image: url("../image/portfolio.PNG");
    background-size: cover;
    background-position: center;
    border-radius: 3vh;
}

























#contact{
    height: 100vh;
    position: relative;
}
.contact-header{
    text-align: center;
    height: 10vh;
}
.contact-header>h5:nth-child(1){
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4vw;
    font-size: 1.2vw;
    font-weight: 900;
    margin: auto;
}
.contact-header>h1:nth-child(2){
    font-size: 1.5vw;
    margin-top: 2.5vh;
}
.contact-details{
    display: flex;
    text-decoration: none;
    height: 20vh;
    width: 75vw;
    margin-top: 10vh;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.contact-details>div{
    background-color: #ffffff;
    margin: 0.2vh 5vw ;
    text-align: center;
    height: 20vh;
    width: 16vw;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.7);
    border-radius: 0.7vw;
    transition: 0.3s;
}
.contact-details>div:hover{
    scale: 1.1;
}
.details>i{
    color: black;
    margin-top: 3vh;
    font-size: 3vw;
}
.details>h4{
    color: black;
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.details>p>a,
.details>p{
    color: black;
    opacity: 0.7;
    text-decoration: none;
    transition: 0.3s;
}
.details>p>a:hover{
    transition: 0.3s;
    opacity: 1;
}
.socialize{
    width: 30vw;
    height: 20vh;
    position: absolute;
    top: 28%;
    padding-left: 8vw;
    text-align: center;
}
.socialize>h4{
    font-size: 1.3vw;
}
.socialize>div{
    display: flex;
}
.socialize>div>a{
    position: relative;
    width: 0vw;
    align-items: center;
    margin: 0 3vw;
}
.socialize>div>a>i{
    margin: 0 2vw;
    color: white;
    font-size: 3vw;
    transition: 0.5s;
}
.socialize>div>a>i:hover{
    scale: 1.2;
}
.socialize>div>a:nth-child(1)>i:hover{
    color: #0077B5;
}
.socialize>div>a:nth-child(2)>i:hover{
    color: #3B5998;
}
.socialize>div>a:nth-child(3)>i:hover{
    color: #E4405F;
}
.socialize>div>a:nth-child(4)>i:hover{
    color: #7289da;
}
.contact-me {
    position: relative;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ffffff;
    width: 45vw;
    height: 50vh;
    padding: 2vh;
    margin-top: 4vh;
    box-sizing: border-box;
    border-radius: 0.5vw;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.5);
    transition: 1s;
}
.contact-me:hover{
    scale: 1.05;
}
.contact-me:active{
    scale: 1.1;
}
.contact-me>h3:nth-child(1){
    font-size: 1vw;
    font-family: "poppins", sans-serif;
    letter-spacing: 0.2vw;
}
.contact-me>input[type="text"],
.contact-me>input[type="subject"],
.contact-me>input[type="email"],
.contact-me>textarea {
    display: block;
    margin-bottom: 1vh;
    padding: 0.5vw;
    font-size: 0.8vw;
    border: none;
    border-radius: 0.4vw;
    box-sizing: border-box;
}
.contact-me>input[type="text"],
.contact-me>input[type="subject"],
.contact-me>input[type="email"]{
    width: 50%;
}
.contact-me>textarea{
    width: 80%;
}
.contact-me>textarea{
    resize: both;
    min-height: 5vh;
    min-width: 30vw;
    max-width: 42.5vw;
}

.contact-me>input[type="button"] {
    display: block;
    margin: 1vw auto 1vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    color: #ffffff;
    background-color: transparent;
    border: 0.3vw solid #ffffff;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-me>input[type="button"]:hover {
    color: #222831;
    background-color: #ffffff;
}
.footer{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
}
.footer>div{
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}
.footer>div{
    padding: 0 1vw;
}
.footer>div>a{
    align-content: center;
    justify-content: center;
    height: 2vh;
    transition: 0.5s;
    padding-left: 0.3vw;
    text-decoration: none;
}
.footer>div>a>h5:hover{
    color: red;
}
.footer>div>h5{
    opacity: 0.6;
}
.footer>div>a>h5{
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
    color: white;
    position: absolute;
    top: 37%;
    text-decoration: none;
    transition: 0.3s;
    opacity: 0.6;
}
.footer>div>a>h5:hover{
    color: red;
    opacity: 1;
}




/*#footer{
    position: static;
    height: 500px;
    width: 500px;
    background-color: blue;
    border: 8px solid black;
}
#footer2{
    position: relative;

    left: 500px;
    height: 500px;
    width: 500px;
    background-color: blue;
    border: 8px solid black;
}*/



/*body {

    !* background-color: #3D2A58; *!
    background: radial-gradient(#9b0000, #000000);
}


body, h2, h3, h4, p, li {
    color: #ffffff;
}


header {
    position: sticky;
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fade-in 2s ease-out;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

header h2 {
    font-size: 2rem;
    margin: 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin: 0 10px;
}

header nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header nav a:hover {
    text-decoration: underline;
}

!* Style the sections *!
section {
    padding: 20px;
    margin-bottom: 30px;

}

section h2 {
    font-size: 2rem;
    margin-top: 0;
}

section h3 {
    font-size: 1.5rem;
    margin-top: 0;
}

section h4 {
    font-size: 1.2rem;
    margin-top: 0;
}

section ul {
    list-style-type: disc;
    margin: 0 0 0 40px;
}

section p {
    font-size: 1.2rem;
    line-height: 1.5;
}


section img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

input[type="button"] {
    background-color: #10113C;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    animation: fade-in 1s ease-out;
}

input[type="button"]:hover {
    background-color: #000372;
    color: white;
}


.nav-button {
    background-color: #10113C;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    animation: slide-in 1s ease-out;
}

.nav-button:hover {
    background-color: black;
    color: #10113C;
    transition: background-color 0.5s ease-in-out;
}

.nav-button:active {
    transform: translateY(2px);
}

@keyframes slide-in {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.nav-button {
    background-color: #10113C;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.nav-button:hover {
    background-color: #000372;
    color: #ffffff;
    transition: background-color 0.5s ease-in-out;
}

.nav-button:active {
    transform: translateY(2px);
}
.triangle-left {
    width: 500px;
    height: 500px;
    border-top: 25px solid transparent;
    border-right: 50px solid #555;
    border-bottom: 25px solid transparent;
    background: radial-gradient(#0066FF, #AD00FF);
}*/


/*
p#aboutme{
    text-align: right;
    alignment-baseline: ;
}*/
/*
img#aboutimg{
    position: absolute;

    width: 192px;
    height: 108px;
    float: left;
}*/