body{
    background-color: white;
}
.contact-me input[type="text"], .contact-me input[type="email"], .contact-me input[type="tel"], .contact-me textarea {
    position: relative;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    padding: 5px 0;
    width: 100%;
}

.contact-me input[type="text"]:focus, .contact-me input[type="email"]:focus, .contact-me input[type="tel"]:focus, .contact-me textarea:focus {
    border-color: #00adb5;
    outline: none;
}

.contact-me input[type="text"]:focus + label, .contact-me input[type="email"]:focus + label, .contact-me input[type="tel"]:focus + label, .contact-me textarea:focus + label {
    transform: translateY(-24px) scale(0.8);
    color: #00adb5;
    transition: all 0.3s ease-in-out;
}

.contact-me label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #999;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.contact-me input[type="text"] + label, .contact-me input[type="email"] + label, .contact-me input[type="tel"] + label, .contact-me textarea + label {
    transform: translateY(6px);
}

.contact-me input[type="text"]:valid + label, .contact-me input[type="email"]:valid + label, .contact-me input[type="tel"]:valid + label, .contact-me textarea:valid + label {
    transform: translateY(-24px) scale(0.8);
    color: #00adb5;
}
