body{
    background-color: black;
}
section{
    height: 100vh;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    z-index: 999;
}

.back-to-top:hover {
    background-color: #fff;
    color: #333;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.back-to-top i {
    font-size: 1vw;
}

.sticky-btn-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}


.sticky-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.sticky-btn i {
    font-size: 24px;
    color: #fff;
}


.sticky-btn.active i::before {
    content: "\f077";
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}


.sticky-btn:hover {
    background-color: #555;
}


.sticky-btn:active {
    background-color: #222;
}

