
i{
    color: black;
    font-size: 5vw;
}


.fa-discord.clicked {
    animation-name: discord-loading;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
